*  {
    color: white;
    padding: 0;
    margin:0;
}

body {
    background-color: #DDFFD9;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

section {
    background-color: #000000;
    border-radius: 30px;
    padding: 20px;
    margin-top: 50px;
}

ul {
    display:flex;
    justify-content: space-around;
}

.item {
    margin: 10px;
    padding: 5px 15px;
    background-color: gray;
    border-radius: 50px;
}

.perfil {
    width: 300px;
    height:300px;
}

.shadow {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}