<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="\static\style.css">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
    <section>
        <img class="perfil" src="https://avatars.githubusercontent.com/u/159483317?s=400&u=006a751c0b0ba56d4f80b5c4092fbe5c108516e6&v=4">
        <h1>ADEMIR GAMA RÉGIS JÚNIOR</h1>
        <p>Rua bolivia, 139, Bela vista, Fortaleza, CE</p>

        <H3>CARGOS DE INTERESSE:</H3>
        <ul>
            <li class="item">Analista de dados</li>
            <li class="item">Desenvolvedor Fullstack</li>
            <li class="item">Desenvolvedor Backend</li>
        </ul>
        <H3>TECNOLOGIAS:</H3>
        <ul>
            <li>
                <p class="item">Python</p>
                <p class="item">Javascript</p>
            </li>
            <li>
                <p class="item">HTML</p>
                <p class="item">CSS</p>
            </li>
            <li>
                <p class="item">POWER BI</p>
                <p class="item">GIT/GitHub</p>
            </li>

        </ul>
        <h3>LINKS E INFORMAÇOES DE CONTATO:</h3>
        <ul>
            <li>
                <span>Email:</span>
                <a href="">agrj1298@gmail.com</a>
            </li>
            <li class="shadow">
                <a href="https://github.com/ademirMaltazard">
                    <img src="https://img.shields.io/badge/GitHub-100000?style=for-the-badge&logo=github&logoColor=white" alt="">
                </a>
            </li>
            <li class="shadow">
                <a href="https://www.linkedin.com/in/ademir-gama-31a6672b3/">
                    <img src="https://img.shields.io/badge/LinkedIn-0077B5?style=for-the-badge&logo=linkedin&logoColor=white" alt="">
                </a>
            </li>
            <li class="shadow">
                <a href="https://instagram.com/ademir.mk">INSTAGRAM</a>
            </li>
        </ul>
        <h3>EXPERIÊNCIA PROFISSIONAL</h3>
        <ul>
            <li>
                <div>
                    <h5>Projectos Consultoria</h5>
                    <div><h6>Função: </h6> Auxiliar de analista de dados</div>
                    <div><h6>Período: </h6>junho/2024 - junlho/2024</div>
                </div>
                <div>
                    <h5>RS4 ENGENHARIA</h5>
                    <div><h6>Função:</h6>Eletricista</div>
                    <div><h6>Período: </h6>janeiro/2024 - junlho/2024</div>
                </div>
            </li>
            <li>
                <h5>REVERSE SOLAR</h5>
                <div>Função: Instalador Fotovoltaico</div>
                <div><h6>Período: </h6>outubro/2022 - dezembro/2023</div>
            </li>
        </ul>
        <h3>APERFEIÇOAMENTOS</h3>
        <ul>
            <li>CURSO DATA SCIENCE</li>
            <li>DESENVOLVEDOR FULLSTACK COM PYTHON</li>
            <li>DESENVOLVIMENTO FULLSTACK COM JAVASCRIPT</li>
        </ul>
        <h3>HABILIDADES</h3>
        <ul>
            <li>Sou positivo, possuo senso de liderança, responsável, pontual e criativo</li>
        </ul>

    </section>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>